/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/navbar_tabs_oneliner.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Make tabs and navbar appear side-by-side tabs on right */

/* Use page_action_buttons_on_hover.css to hide page-action-buttons to save more space for the address */

/*
urlbar_popup_full_width.css is VERY MUCH recommended for Firefox 71+ because of new urlbar popup
*/
/*** Tighten up vertical drop-down(bookmark)/context/popup menu spacing ***/
:root[uidensity="compact"]{
  --tab-block-margin: 2px !important;
}

/* Modify these to change relative widths or default height */
#nav-bar:not(:-moz-lwtheme) {height: 33px !important; margin-top: -37px !important;}
#navigator-toolbox{
  --uc-navigationbar-width: 45vw;
  --uc-toolbar-height: 40px;
  --uc-urlbar-min-width: 50vw; /* minimum width for opened urlbar */
}
#scrollbutton-up,
#scrollbutton-down{ border-block-width: 2px !important; }

/* Override for other densities */
:root[uidensity="compact"] #navigator-toolbox{ --uc-toolbar-height: 34px; }
:root[uidensity="touch"] #navigator-toolbox{ --uc-toolbar-height: 44px; }

/* prevent urlbar overflow on narrow windows */
/* Dependent on how many items are in navigation toolbar ADJUST AS NEEDED */
@media screen and (max-width: 1000px){
  #urlbar-container{ min-width:unset !important }
}

#TabsToolbar{
  margin-left: var(--uc-navigationbar-width);
  --tabs-navbar-shadow-size: 0px;
}
#tabbrowser-tabs{
  --tab-min-height: calc(var(--uc-toolbar-height) - 2 * var(--tab-block-margin,0px)) !important;
}

/* This isn't useful when tabs start in the middle of the window */

.titlebar-spacer[type="pre-tabs"]{ display: none }

#navigator-toolbox > #nav-bar{
  margin-right:calc(100vw - var(--uc-navigationbar-width));
  margin-top: calc(0px - var(--uc-toolbar-height));
}

/* Window drag space  */
:root[tabsintitlebar="true"] #nav-bar{ padding-left: 24px !important }

/* Rules specific to window controls on right layout */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
  .titlebar-buttonbox-container{ position: fixed; display: block; left: 0px; z-index: 3; }
  :root[tabsintitlebar="true"] #nav-bar{ padding-left: 96px !important; padding-right: 0px !important; }
}

/* 1px margin on touch density causes tabs to be too high */
.tab-close-button{ margin-top: 0 !important }

/* Make opened urlbar overlay the toolbar */
#urlbar[open]:focus-within{ min-width: var(--uc-urlbar-min-width,none) !important; }

/* Hide dropdown placeholder */
/* #urlbar-container:not(:hover) .urlbar-history-dropmarker{ margin-inline-start: -28px; } */

/* Fix customization view */
#customization-panelWrapper > .panel-arrowbox > .panel-arrow{ margin-inline-end: initial !important; }

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/vertical_bookmarks_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes bookmarks toolbar appear vertically at the left side of the window */

@-moz-document url(chrome://browser/content/browser.xhtml){

  :root:not([inDOMFullscreen]){
    --uc-vertical-toolbar-width: 36px;
  }

  #PersonalToolbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    width: var(--uc-vertical-toolbar-width,0);

    /* These create a empty area to the bottom of the toolbar, which is to mask a fact that we don't know exactly how high the toolbar should be */
    height: 100vh;
    max-height: 100vh !important;
    padding-bottom: 50px !important;
  }

  #personal-bookmarks{ overflow-y: auto; scrollbar-width: none;}

  #PersonalToolbar >  #personal-bookmarks > #PlacesToolbar > hbox{ -moz-box-orient: vertical !important; }
  #PersonalToolbar #PlacesToolbarItems{
    display: flex;
    flex-direction: column;
  }
  #PersonalToolbar .toolbarbutton-1{ padding-block: 20px !important }
  #PersonalToolbar #PlacesToolbarItems > .bookmark-item{ padding-block: 4px !important; }


  body > #browser,
  body > #browser-bottombox,
  #customization-container{
    margin-left: var(--uc-vertical-toolbar-width,0);
  }

}

/* References :-
https://www.reddit.com/r/FirefoxCSS/comments/s2ltjs/several_combined_tweaks_for_ff96_update_to_fix/
https://pastebin.com/YQbEeMar */

/*** Change right-click tab -> reload tab to be first context menu entry (for both single tab and multiple tab selections) ***/
#tabContextMenu #context_reloadTab, #tabContextMenu #context_reloadSelectedTabs {
    -moz-box-ordinal-group: 0 !important;
}

/*** Remove print selection (right-click context) ***/
#context-print-selection { display:none!important;}

/*** Tighten up vertical drop-down(bookmark)/context/popup menu spacing ***/
menupopup > menuitem, menupopup > menu {
  padding-block: 1px !important;
}
:root {
  --arrowpanel-menuitem-padding: 1px 2px !important;
}

/*** Added to remove extra bookmark spacing after sept 2021 update: https://www.reddit.com/r/FirefoxCSS/comments/pmrp83/latest_update_has_messed_up_bookmark_spacing/ ***/
#PlacesToolbar menuitem {
    min-height: 0px !important;
}

/*
FF96 UPDATE
references:  https://gist.github.com/tung/439935f55cc83af20defd7867ec89c82; , https://www.reddit.com/r/FirefoxCSS/comments/s1jdr5/firefox_tabbar_completely_messed_up_after_v96/
*/
/* remove radius from buttons and tabs */
*|*:root {
  --toolbarbutton-border-radius: 0 !important;
  --tab-border-radius: 0px !important;
  --toolbarbutton-outer-padding: 0 !important;
  --toolbarbutton-inner-padding: 5px !important;
  --toolbar-start-end-padding: 0px !important;
}

/* remove margin from tabs */
.tab-background {
	margin-block: 0 !important;
}

/* remove padding between tabs */
.tabbrowser-tab {
	padding-inline: 0 !important;
}

/* add vertical line between tabs */
.tabbrowser-tab:not([selected=true]):not([multiselected=true]):not([beforeselected-visible="true"]) .tab-background {
border-right: 1px solid var(--lwt-background-tab-separator-color, rgba(0, 0, 0, 0.2)) !important;
}

/* fix for when titlebar gets taller when there are many tabs */
#tabbrowser-arrowscrollbox {
	height: var(--tab-min-height);
}

/* force tabs to 30px height (added this because they're bit too short when the above fix is applied by itself) */
#tabbrowser-tabs {
  height: 30px !important;
}
/*
END OF FF96 UPDATE
*/

