*{
  all: unset;
  // font-family: FiraCode Nerd Font;
  font-family: JetBrainsMono Nerd Font;
}

/** General **/
.bar_class {
  background-color: #0f0f17;
  border-radius: 16px;
}
.left_modules,.right_modules,.center_modules {
  border-radius: 16px;
  margin: 0px 0px 0px 5px;
  background-color: #282828 ;
  // background-color: #0f0f17;
}

.modules {
  font-size: 20px;
  font-weight: normal;
  margin: 0px 0px 0px 10px;
  border-radius: 16px;
  background-color: #282828 ;
  // background-color: #0f0f17;
}

/** tooltip!! **/
tooltip.background {
  background-color: #0f0f17;
  font-size: 18px;
  border-radius: 10px;
  color: #bfc9db;
}

tooltip.label {
  margin: 6px;
}

// ------------------------------------------------------
/** --------------------- Widgets ------------------- **/
// ------------------------------------------------------

// Left widgets
// ------------------------------------------------------
/* Workspaces */
.workspace {
  // background-color: #0f0f17;
  margin: 3px 5px 4px 10px;
}
.tag_empty, .tag_opened, .tag_current, .tag_urgent{
  font-size: 16px;
  font-weight: normal;
  margin: 2px 10px 0px 0px;
}
/* Unoccupied */
.tag_empty {
  color: #bfc9db;
}
/* Occupied */
.tag_opened {
  color: #3e424f;
}
/* Focused */
.tag_current {
  color: #a1bdce;
}
/* Urgent */
.tag_urgent {
  color: #ea6962 ;
}

.module-apps {
  color: #8ec07c ;
  background-color: #8ec07c ;
  font-size: 30px;
  border-radius: 0px 16px 16px 0px ;
}

.apps_icon {
  color: #0f0f17 ;
  background-color: #8ec07c ;
  font-size: 24px;
  font-weight: bold;
  margin: 0px 20px 0px 10px;
}

// Center widgets
// ------------------------------------------------------
/** Common **/
.linux, .linux_icon{
  border-radius: 0px 16px 16px 0px ;
  background-color: #61afef ;
}
/** Window title **/
.module-window {
  margin: 1px 0px 0px 10px;
}
.window_title {
  color: #61afef ;
  font-size: 14px;
  margin: 0px 10px 0px 10px;
}
/** Linux Logo **/
.linux {
}
.linux_icon {
  color: #0f0f17 ;
  font-size: 26px;
  font-weight: bold;
  margin: 0px 0px 2px 10px;
}

// Right widgets
// ------------------------------------------------------
/** Separator **/
.module-sep {
  color: #3e424f;
  font-size: 28px;
  font-weight: bold;
  margin: 0px 0px 0px 2px;
}
/** Power **/
.module-power {
  color: #e06c75 ;
  background-color: #e06c75 ;
  border-radius: 0px 16px 16px 0px ;
}
.power_icon {
  color: #0f0f17 ;
  background-color: #e06c75 ;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 20px 0px 10px;
}
/** Calendar **/
.cal {
  background-color: #0f0f17;
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  font-weight: normal;

  .cal-in {
    padding: 0px 10px 0px 10px;
    color: #bfc9db;

    .cal {
      &.highlight {
	padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}
calender {
  color: #bfc9db;
}
calendar:selected {
  color: #a1bdce;
}
calendar.header {
  color: #a1bdce;
  font-weight: bold;
}
calendar.button {
  color: #afbea2;
}
calendar.highlight {
  color: #a1bdce;
  font-weight: bold;
}
calendar:indeterminate {
  color: #bfc9db;
}
.sys_sep {
  color: #38384d;
  font-size: 18px;
  margin: 0px 10px 0px 10px;
}
.sys_text_bat_sub, .sys_text_mem_sub {
  font-size: 16px;
  color: #bbc5d7;
  margin: 5px 0px 0px 25px;
}
.sys_text_bat, .sys_text_mem {
  font-size: 21px;
  font-weight: bold;
  margin: 14px 0px 0px 25px;
}
.sys_icon_bat, .sys_icon_mem {
  font-size: 30px;
  margin: 30px;
}
.sys_win {
  background-color: #0f0f17;
}
.sys_bat {
  color: #afbea2;
  background-color: #38384d;
  border-radius: 10px;
}
.sys_mem {
  color: #e4c9af;
  background-color: #38384d;
  border-radius: 10px;
}
.sys_icon_bat, .sys_text_bat {
  color: #afbea2;
}
.sys_icon_mem, .sys_text_mem {
  color: #e4c9af;
}
.sys_bat_box {
  border-radius: 16px;
  margin: 15px 10px 10px 20px;
}
.sys_mem_box {
  border-radius: 16px;
  margin: 10px 10px 15px 20px;
}
.audio-box {
  background-color: #0f0f17;
  border-radius: 16px;
}
.speaker_icon {
  background-size: cover;
  background-image: url('images/speaker.png');
  background-position: center;
  min-height: 70px;
  min-width: 75px;
  margin: 10px 20px 5px 20px;
  border-radius: 12px;
}
.speaker_text {
  color: #a1bdce;
  font-size : 26px;
  font-weight : bold;
  margin: 20px 0px 0px 0px;
}
.speaker_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 24px;
}
.speaker_bar scale trough {
  all: unset;
  background-color: #232232;
  box-shadow: 0px 6px 5px 2px #06060b;
  border-radius: 24px;
  min-height: 13px;
  min-width: 120px;
  margin : 0px 0px 5px 0px;
}
.mic_icon {
  background-size: cover;
  background-image: url('images/mic.png');
  background-position: center;
  min-height: 70px;
  min-width: 75px;
  margin: 5px 20px 20px 20px;
  border-radius: 12px;
}
.mic_text {
  color: #a1bdce;
  font-size : 26px;
  font-weight : bold;
  margin: 0px 0px 0px 0px;
}
.mic_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 24px;
}
.mic_bar scale trough {
  all: unset;
  box-shadow: 0px 6px 5px 2px #06060b;
  background-color: #232232;
  border-radius: 24px;
  min-height: 13px;
  min-width: 120px;
  margin : 0px 0px 20px 0px;
}
.audio_sep {
  color: #38384d;
  font-size: 18;
  margin : 0px 0px 0px 0px;
}
/** Clock **/
.clock_sep {
  font-size: 16px;
  font-weight: bold;
  color: #bfc9db;
  margin: 0px 4px 0px 4px;
}
.clock_hour, .clock_minute {
  font-size: 16px;
  color: #bfc9db;
}
.clock_minute {
  margin: 0px 20px 0px 3px;
}
.clock_hour {
  margin: 0px 0px 0px 0px;
}
.clock_date {
  font-size: 14px;
  font-weight: bold;
  margin: 0px 20px 0px -1px;
  color: #d7beda;
}
/** System Tray **/
.module-systray {
  color: #bfc9db;
}
.systray {
  font-size: 22px;
  margin: 0px 15px 0px 5px;
}
/** Wifi **/
.module-wifi {
  margin: 0px 10px 0px 5px;
}
.wifi_text {
  font-size: 10px;
  margin: 0px 10px 0px 5px;
}
.wifi_icon {
  font-size: 16px;
  color: #fabd2f;
  margin: 0px 10px 0px 0px;
}
/** Volume **/
.module-volume {
  font-size: 18px;
}
.volume_icon {
  font-size: 18px;
  color: #a1bdce;
  margin: 0px 10px 0px 10px;
}
.volume_mute {
  font-size: 18px;
  color: #e06c75;
  margin: 0px 10px 0px 10px;
}
.volbar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}
.volbar_mute trough highlight {
  background-image: linear-gradient(to right, #575268 30%, #575268 50%, #575268 100% *50);
  border-radius: 10px;
}
/** Brightness **/
.module-bright {
  margin: 0px 0px 0px 10px;
  // background-color: #0f0f17;
}
.bright_icon {
  font-size: 18px;
  color: #e4c9af;
  margin: 0px 10px 0px 10px;
}
.bright_bar trough highlight {
  background-image: linear-gradient(to right, #e4c9af 30%, #f2cdcd 50%, #e0b089 100% *50);
  border-radius: 10px;
}
/** Battery & Memory **/
/** Common **/
.bat_bar,.mem_bar {
  background-color: #38384d;
  margin: 0px 0px 0px 0px;
}
.bat_icon, .mem_icon {
  font-size: 12px;
  padding: 0px 5px 0px 0px;
}
/** Memory **/
.module-mem {
  margin: 0px 10px 0px 0px;
  // background-color: #0f0f17;
}
.mem_icon {
  color: #e0b089;
}
.mem_bar {
  color: #e0b089;
}
/** Battery **/
.module-bat {
  margin: 0px 10px 0px 0px;
  // background-color: #0f0f17;
}
.bat_bar {
  color: #afbea2;
}
.bat_icon {
  color: #afbea2;
}
scale trough {
  all: unset;
  background-color: #22242b;
  box-shadow: 0px 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}
